
bin/
dist/
out/
*.exe
*.exe~
*.dll
*.so
*.dylib


.env
.env.*
!.env.example
config.yaml
!config.example.yaml

*.test
*.out
coverage.txt

*.log
logs/

.idea/
*.iwb
*.iws

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

.DS_Store